In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('day_1.csv')
df1=df1[df1['VehicleID']==1]

In [3]:
df1.sort_values(by='Time',inplace=True)
df1.reset_index(drop=True,inplace=True)
df1.tail(50)

      VehicleID   Time  PosID
2583          1  55861    670
2584          1  55901    858
2585          1  55941   1041
2586          1  55978   1207
2587          1  56018   1407
2588          1  56058   1595
2589          1  56098   1672
2590          1  56124   1787
2591          1  56164   1985
2592          1  56204   2177
2593          1  56224   2265
2594          1  56264   2462
2595          1  56304   2652
2596          1  56322   2735
2597          1  56362   2926
2598          1  56402   3116
2599          1  56442   3269
2600          1  56482   3443
2601          1  56522   3621
2602          1  56562   3814
2603          1  56602   3986
2604          1  56642   4121
2605          1  56682   4309
2606          1  56691   4346
2607          1  56731   4536
2608          1  56749   4613
2609          1  56789   4793
2610          1  56829   4830
2611          1  56869   5020
2612          1  56904   5178
2613          1  56944   5376
2614          1  56984   5569
2615          1  57024   5760
2616          1  57064   5946
2617          1  57104   6134
2618          1  57144   6318
2619          1  57184   6397
2620          1  57224   6516
2621          1  57264   6706
2622          1  57304   6895
2623          1  57344   7082
2624          1  57384   7244
2625          1  57424   7435
2626          1  57428   7441
2627          1  57468   7639
2628          1  57495   7762
2629          1  57535   7958
2630          1  57575     59
2631          1  57582     83
2632          1  57582     83

In [4]:
df2 = pd.read_csv('day_2.csv')
df2=df2[df2['VehicleID']==1]

In [5]:
df2.sort_values(by='Time',inplace=True)
df2.reset_index(drop=True,inplace=True)
df2.head(50)

    VehicleID   Time  PosID
0           1  57622    272
1           1  57662    448
2           1  57702    624
3           1  57732    759
4           1  57772    938
5           1  57812   1116
6           1  57852   1283
7           1  57892   1469
8           1  57932   1608
9           1  57960   1703
10          1  58000   1878
11          1  58040   2064
12          1  58080   2247
13          1  58120   2396
14          1  58160   2474
15          1  58200   2637
16          1  58240   2826
17          1  58280   2993
18          1  58320   3177
19          1  58360   3220
20          1  58400   3401
21          1  58440   3583
22          1  58480   3767
23          1  58520   3953
24          1  58560   4135
25          1  58600   4308
26          1  58640   4487
27          1  58680   4667
28          1  58720   4798
29          1  58760   4798
30          1  58800   4959
31          1  58840   5154
32          1  58880   5341
33          1  58920   5527
34          1  58960   5721
35          1  58962   5724
36          1  59002   5921
37          1  59029   6039
38          1  59069   6233
39          1  59109   6392
40          1  59134   6434
41          1  59134   6434
42          1  59174   6619
43          1  59174   6619
44          1  59214   6807
45          1  59214   6807
46          1  59254   6968
47          1  59254   6968
48          1  59294   7153
49          1  59294   7153